body {
  width: 960px;
  margin: 0 auto;
  background-color: #2980B9;
  font-size: 20px;
  font-family: Times, serif;
  color: #F7DC6F;
}

header[role="banner"] {
  margin-top: 20px;
  height: 135px;
  border: solid 10px white;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #F7DC6F;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  margin: 5px 0 0 0;
}

nav {
  margin: 0 auto;
  width: 800px;
}

nav ul {
  text-align: center;
  font-family: Arial, Verdana;
  font-size: 18px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  height: 20px;
  width: 95px;
  margin: 0 55px 0 5px;
  white-space: nowrap;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  background: #7FB3D5;
  color: #F7DC6F;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: solid 4px white;
}

article {
  position: relative;
  top: 35px;
  background-color: #7FB3D5;
  border: double 10px white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  height: 550px;
  width: 600px;
}

article h2 {
  color: #F7DC6F;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0 0 0;
  padding: 10px 20px;
}

article p {
  color: rgba(0, 0, 0, .5);
  line-height: 24px;
  padding: 2px 20px;
}

section {
  background-color: #9bcdff;
  border: double 4px white;
  padding: 0px;
  margin: 10px 10px;
}

section h3 {
  color: #F7DC6F;
  font-size: 22px;
  line-height: 14px;
  margin: 10px 0 0 0;
  padding: 20px 5px 0 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

section p {
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

aside {
  position: relative;
  top: -535px;
  left: 640px;
  background-color: #7FB3D5;
  border: solid 8px white;
  height: 555px;
  width: 302px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

aside h3 {
  color: #F7DC6F;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
}

aside nav {
  position: center;
  }

aside p {
  color: rgba(0, 0, 0, .5);
  line-height: 22px;
  padding: 0 20px;
}